<div class="row">
  <div class="col-12 col-md-8">
    <form (ngSubmit)="onAdd(f)" #f="ngForm">
      <div class="form-group" style="margin-left:150px;">
        <label for="name"><b>Name</b></label>
        <input
          type="text"
          id="name"
          name="name"
          class="form-control"
          ngModel
          required
        />

        <label for="amount"><b>Quantity</b></label>
        <input
          type="number"
          id="amount"
          name="amount"
          class="form-control"
          pattern="^[1-9]+[0-9]*$"
          
          ngModel
          required
        />

        <label for="purchaseDate"><b>Purchase date</b></label>
        <input
          type="date"
          id="purchaseDate"
          name="purchaseDate"
          class="form-control"
          ngModel
          required
        />
        &nbsp;
        <label for="place"><b>Place</b></label>
        <input
          type="text"
          id="place"
          name="place"
          class="form-control"
          ngModel
          required
        />
        <label for="price"><b>Price</b></label>
        <input
          type="number"
          id="price"
          name="price"
          class="form-control"
          #price
          [ngModel]="_price"
          (blur)="usePipe(price.value)"
          required
        />
      </div>
      <br />

      <button class="btn btn-success" type="submit" [disabled]="!f.valid" style="margin-left:20%">
        {{ !editMode ? 'Add' : 'Update' }}</button
      >&nbsp;

      <!-- <button class="btn btn-danger" type="button">Delete</button>&nbsp; -->
      <button class="btn btn-primary" type="button" (click)="onClear()">
        Clear</button
      >&nbsp;
    </form>
  </div>
</div>
